<!DOCTYPE html>
<html lang="en-ca">
    <head>
        <link rel="stylesheet" type="text/css" href={{StaticLocation}} />
    </head>
    <body>
        <div>
            <h1>Trolley Trouble</h1>
            <h2>{{PageNumer}} {{ProblemTitle}}:</h2>
        </div>
        <img src="/static/{{ImageURL}}">
        <p>
            {{ProblemText}}
            </p>
    <a class="button" href=/{{PageNumber+1}}>Watch    </a>    <a class="button" href="/{{PageNumber+1}}">Pull The Lever</a>

    </body>
    </html>
    