<!DOCTYPE html>
<html lang="en-ca">
    <head>
        <link rel="stylesheet" type="text/css" href={{StaticLocation}} />
    </head>
    <body>
        <div>
            <h1>Trolley Trouble</h1>
            <h2>{{PageNumer}} {{ProblemTitle}}:</h2>
        </div>
        <img src="/static/{{ImageURL}}">
        <p>
            {{ProblemText}}
            </p>
    <a class="button" href=/{{PageNumber+1}}>Watch    </a>    <a class="button" href="/{{PageNumber+1}}">Pull The Lever</a>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyDrevFB4b-qFmuJCgwYyeMbkQRrPgWHqwM",
    authDomain: "trolleytrouble-91fc6.firebaseapp.com",
    projectId: "trolleytrouble-91fc6",
    storageBucket: "trolleytrouble-91fc6.appspot.com",
    messagingSenderId: "369655271655",
    appId: "1:369655271655:web:c5cde64453a212b48d1242"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
</script>
    </body>
    </html>
    